<!doctype html>
<title>ANIMECO</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div>
	<h1>ANIMECO</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="content-box">
            <b>Options</b><hr>
            <button type="button" class="btn btn-primary">Save</button>
            
			</div>
		</div>
		<div class="col-md-6">
			<div class="content-box">
            <b>Drawing Boards</b><hr>
            <canvas id='board1' height='128' width='128' style="border:1px solid #d3d3d3;"></canvas>
				<canvas id='board2' height='128' width='128' style="border:1px solid #d3d3d3;"></canvas>
				<canvas id='board3' height='128' width='128' style="border:1px solid #d3d3d3;"></canvas>
				<script src="webscripts.js"></script>
        	</div>
        	
		</div>
	</div>
</div>
	
    
  
